
<app-header></app-header>
<div class="menu">
	<h1>PONG</h1>
	<div class="button">
		<app-button routerLink="/play-menu" text="PLAY" color="{{ isLogged ? '#FFDE56' : '#7E7E7E' }}" ></app-button>
		<app-button routerLink="/friends" text="FRIENDS" color="{{ isLogged ? '#FFDE56' : '#7E7E7E' }}" ></app-button>
		<app-button routerLink="/leaderboard" text="RANKING" color="{{ '#FFDE56' }}" ></app-button>
		<app-button routerLink="/settings" text="SETTINGS" color="{{ '#FFDE56' }}" ></app-button>
	</div>
</div>
	