.profile {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	width: 250px;
	/* background-color: brown; */
	font-size: small;
	cursor: pointer;
	padding: 10px;
	border-radius: 20px;
	border: dashed 3px;

}

.left {
	display: grid;
	margin-right: 5px;
	/* justify-content: center; */
	justify-items: center;
}